<div class="row">
    <!-- columna del listador de propiedades-->
    <div class="col-sm-3">
        <h4>Zapatillas</h4>
        <hr style="border: 1px solid black">
        <h5>Filtrar</h5>
        <h6 style="background-color: lightgray" >Categoría</h6 > 
        <ul (click)="selectCategoria($event, 1)" >
            <li >Zapatillas</li>
            <li >Zapatos</li>
            <li >Botas</li>
            <li >Sandalias</li>
            <li >Pantuflas</li>
        </ul>
        <h6 style="background-color: lightgray" >Talle</h6 > 
        <ul (click)="selectCategoria($event, 2)">
            <li >36</li>
            <li >38</li>
            <li >40</li>
            <li >42</li>
            <li >44</li>
        </ul>
            <h6 style="background-color: lightgray" >Color</h6>
        <ul (click)="selectCategoria($event, 3)">
            <li >Amarillo</li>
            <li >Negro</li>
            <li >Verde</li>
            <li >Azul</li>
            <li >Blanco</li>
            
        </ul>

    </div>


    <!-- columna de la tabla de productos
    let hero of heroes; let i = index

    class="d-flex flex-wrap" style="width: 300px"
    -->
    <div class="col-sm-9">
        <div class="row d-flex flex-wrap"  >
            <div class="col-sm-4 d-flex pb-4 order-1" *ngFor=" let hero of getElementos()" >
                <div class="card" >
                     <img [src]="hero.url"
                    class="card-img-top"  alt="..."/>
                     <span class="card-title" style="border-top: 1px solid black;">
                      <b>{{hero.precio | currency:'' }}</b> -  {{hero.desc}}</span>
                </div>
            </div>
            <!--
            <div class="col-sm-3 d-flex pb-3  order-2">
                <div class="card"> 
                     <img [src]="hero.url"
                    class="card-img-top"  alt="..."/>
                    <p class="card-title" style="border-top: 1px solid black;">{{hero.desc}}</p> 
                </div>
            </div>
            <div class="col-sm-3 d-flex pb-3  order-3">
                <div class="card"> 
                     <img [src]="hero.url"
                    class="card-img-top"  alt="..."/>
                     <p class="card-title" style="border-top: 1px solid black;">{{hero.desc}}</p>
                </div>
            </div>
            -->
        </div>

    </div>
</div>
