<div class="container">
  <div  class="row cabezal">
      <div class="col-sm-10 ">
        <div  class="row">
          <div class="col-sm-12 cabezal">
              <img src="../assets/logo.svg" style="width: 20%;margin-left: auto;margin-right: auto;" > 
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 cabezal">
            <ul>
            <li class="active">SALE</li> 
            <li>E-SHOP </li>
            <li>LOOKBOOK</li>
            <li>CAMPAÑA</li>
            <li>LOCALES</li>
            </ul>
          </div>   
        </div> 
      </div>
      <div class="col-sm-2  ">
            <img src="../assets/iconos/search-solid.svg" alt="Buscar Productos" class="img-thumbnail" width="30px" height="30px" > 
            <img src="../assets/iconos/user-solid.svg" alt="Acceso Usuario" class="img-thumbnail " width="28px" height="28px" >
            <img src="../assets/iconos/shopping-cart-solid.svg" alt="Carrito de compras" class="img-thumbnail" width="32px" height="32px" >
            <br>
      </div> 
  </div>

<app-centerfold></app-centerfold>
<app-footer style="position: -ms-page;"></app-footer>
</div>